* {
    box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
p{
	font-size: 12px;
	line-height: 5px;
}
/* nagłówek */
header {
    background-color: #666;
    padding: 5px;
    text-align: center;
    color: white;
	height:75px;

}

.nagl_title{
	font-size: 24px;
	padding: 5px;
	margin-top: 10px;

}
calk {
    float: left;
    padding: 20px;
    width: 225px;
    background-color: #f1f1f1;
	overflow: auto;
}

.wynik {
  width: 200px;
  height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px dotted black;
  text-align: right;
}


.footer {
    background-color: #d7dbd7;
    padding: 1px;
    text-align: center;
    color: black;

}

pr {color: red;}

.logo{
	width: 65px;
	height: 65px;
	margin: auto;
	position: absolute;
	left: 15px;
}

.dzialania{
width: 65px;
margin: auto;

}

.lineButton{
	overflow: visible;	
	clear: both;
}
input[type=submit]{
	width: 50px;
	height: 50px;
	background-color: #e7e7e7;
	margin:5px;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	border: 2px solid #4CAF50;
	transition-duration: 0.4s;
	cursor: pointer;
}
#specjal {
	background-color: #777171;
	color: white;
	border: 2px solid black;
	float: right;
	overflow: auto;
}


input[type=submit]:hover {
  background-color: #4CAF50;
  color: white;
}
#specjal:hover {
  background-color: #393E39;
  color: white;
}


.instr{
	right: 15px;
}
h3{
	font-family: Verdana;
	text-align: center;
	background-color: gray;
	border: 1px dotted black;
	border-radius: 5px;
}


/* Responsywność */
@media (max-width: 600px) {
    nagl_title, calk {
        width: 100%;
        height: auto;
    }
}